<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="JS/jquery-3.2.1.js"></script>
<script src="JS/controller.js"></script>
<script src="JS/maphilight.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous" />
<link rel="stylesheet" href="CSS/Main.css" />
<link type="text/css" href="CSS/bootstrap-timepicker.css" />

</head>
<body>
	<div class="main">
		<div id="mapDivTitle">
			<h1>Map of Floor XYZ</h1>
		</div>
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-sm-2" style="text-align: center;">
					<div
						style="display: table; height: 100%; position: absolute; overflow: hidden; width: 100%;">
						<div style="display: table-cell; vertical-align: middle;">
							<ul class="list-group"
								style="list-style-type: none; display: inline-block;">
								<li class="list-group-item noselect">Sunday</li>
								<li class="list-group-item noselect">Monday</li>
								<li class="list-group-item noselect">Tuesday</li>
								<li class="list-group-item noselect">Wednesday</li>
								<li class="list-group-item noselect">Thursday</li>
								<li class="list-group-item noselect">Friday</li>
								<li class="list-group-item noselect">Saturday</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="mapDiv" class="col-sm-8" style="text-align: center;">
					<img src="images/floors/floorplan.jpg" usemap="#map"
						class="map mx-auto d-block" />
					<map name="map">
						<area alt="" title="" href="#" shape="poly" data-name="room1"
							coords="4,33,257,33,258,196,5,196" />
						<area alt="" title="" href="#" shape="poly" data-name="room2"
							coords="263,33,394,33,395,143,261,145" />
						<area alt="" title="" href="#" shape="poly" data-name="room3"
							coords="5,200,171,200,169,356,6,356" />
						<area alt="" title="" href="#" shape="poly" data-name="room4"
							coords="172,250,293,250,295,356,172,356" />
						<area alt="" title="" href="#" shape="poly" data-name="room5"
							coords="398,206,544,206,546,358,398,357" />
						<area alt="" title="" href="#" shape="poly" data-name="room6"
							coords="398,33,544,34,545,201,397,200" />
						<area alt="" title="" href="#" shape="poly" data-name="room7"
							coords="263,148,320,148,319,197,262,196" />

					</map>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<!-- <div id="timePicker" style = "text-align: center">
			<div id="hour" style="display: inline-block; text-align: center;">
				<input id = "hourUp" type="image" src="images/upArrow.png" class="arrow" />
				<h4 id = "hourText" style="line-height: 50%; vertical-align: middle;">12</h4>
				<input id = "hourDown" type="image" src="images/downArrow.png" class="arrow" />
			</div>
			<div id="minute" style="display: inline-block; text-align: center;">
				<input id = "minuteUp" type="image" src="images/upArrow.png" class="arrow" />
				<h4 style="line-height: 50%; vertical-align: middle;">30</h4>
				<input id = "minuteDown" type="image" src="images/downArrow.png" class="arrow" />
			</div>
			<div id="period" style="display: inline-block; text-align: center;">
				<input id = "periodUp" type="image" src="images/upArrow.png" class="arrow" />
				<h4 style="line-height: 50%; vertical-align: middle;">AM</h4>
				<input id = "periodDown" type="image" src="images/downArrow.png" class="arrow" />
			</div>
		</div> -->
		<div id="timePicker"
			style="text-align: center; margin-bottom: 25px; margin-top: 50px;">
			<div id="hour" style="display: inline-block; text-align: center;">
				<h3 id="hourText" style="line-height: 50%; vertical-align: middle;">12</h3>
			</div>
			<div style="display: inline-block; text-align: center;">
				<h3 style="line-height: 50%; vertical-align: middle;">:</h3>
			</div>
			<div id="minute" style="display: inline-block; text-align: center;">
				<h3 style="line-height: 50%; vertical-align: middle;">30</h3>
			</div>
			<div id="period" style="display: inline-block; text-align: center;">
				<h3 style="line-height: 50%; vertical-align: middle;">AM</h3>
			</div>
		</div>
		<div style="text-align: center">
			<input id="slider" type="range" step="15" min="0" max="1440"
				style="width: 50%; outline: none;" />
		</div>
	</div>
</body>
</html>