<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="JS/jquery-3.2.1.js"></script>
<script src="JS/controller.js"></script>
<script src="JS/maphilight.js"></script>

<script
	src="Libraries/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js"></script>
<script type="text/javascript"
	src="Libraries/clockpicker-gh-pages/assets/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="Libraries/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript"
	src="Libraries/JQueryTimepicker/jquery.timepicker.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous" />
<link rel="stylesheet" href="CSS/Main.css" />
<link rel="stylesheet"
	href="Libraries/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css" />
<link rel="stylesheet" type="text/css"
	href="Libraries/clockpicker-gh-pages/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="Libraries/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" type="text/css"
	href="Libraries/JQueryTimepicker/jquery.timepicker.css" />

</head>
<body>
	<div id="fade" style="display: none;">
				<img src="/images/ajax-loader.gif" id="loadingIcon" style = "margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;  width: 4.3em;
  height: 1.1em;"/>

	</div>
	<div class="main">
		<div id="mapDivTitle">
			<h1>Map of Floor XYZ</h1>
		</div>
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-sm-2" style="text-align: center;">
					<div style="display: table; height: 100%; width: 100%;">
						<div style="display: table-cell; vertical-align: middle;">
							<!-- <ul class="list-group"
								style="list-style-type: none; display: inline-block;">
								<li class="list-group-item noselect">Sunday</li>
								<li class="list-group-item noselect">Monday</li>
								<li class="list-group-item noselect">Tuesday</li>
								<li class="list-group-item noselect">Wednesday</li>
								<li class="list-group-item noselect">Thursday</li>
								<li class="list-group-item noselect">Friday</li>
								<li class="list-group-item noselect">Saturday</li>
							</ul> -->
						</div>
					</div>
				</div>
				<div id="mapDiv" class="col-sm-8" style="text-align: center;">
					<img src="images/floors/floorplan.jpg" usemap="#map"
						class="map mx-auto d-block" />
					<map name="map">
						<area alt="" title="" href="#" shape="poly" data-name="room1"
							coords="4,33,257,33,258,196,5,196" id="525" />
						<area alt="" title="" href="#" shape="poly" data-name="room2"
							coords="263,33,394,33,395,143,261,145" id="523" />
						<area alt="" title="" href="#" shape="poly" data-name="room3"
							coords="5,200,171,200,169,356,6,356" id="522" />
						<area alt="" title="" href="#" shape="poly" data-name="room4"
							coords="172,250,293,250,295,356,172,356" id="521" />
						<area alt="" title="" href="#" shape="poly" data-name="room5"
							coords="398,206,544,206,546,358,398,357" id="519" />
						<area alt="" title="" href="#" shape="poly" data-name="room6"
							coords="398,33,544,34,545,201,397,200" id="518" />
						<area alt="" title="" href="#" shape="poly" data-name="room7"
							coords="263,148,320,148,319,197,262,196" id="517" />

					</map>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row" style="margin-top: 50px">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="input-group">
						<input id="timepicker" type="text"
							class="form-control ui-timepicker-input" placeholder="time" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-time" id="basic-addon1"></span>
						</span>
					</div>
					<div style="margin-bottom: 25px">
						<input type="range" min="360" max="1260" value="0" step="15"
							id="slider" style="outline: none;" />
					</div>
					<div style="position: relative" id="dateContainer">
						<input id="datePicker" type="text" class="form-control" />
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>

	</div>
</body>
</html>