<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="JS/jquery-3.2.1.js"></script>
<script src="JS/controller.js"></script>
<link rel="stylesheet" href="CSS/home.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous" />
</head>
<body>
	<div class="navbar">
		<a href="/home">Home</a> <a href="/maps">Maps</a> <a href="/schedule">Schedule</a>
	</div>
	<div class="main"></div>
</body>
</html>
