<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="JS/jquery-3.2.1.js"></script>
<link rel="stylesheet" href="CSS/home.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous" />
</head>
<body>
	<div class="jumbotron" style="background-color: red !important;">
		<div class="container">
			<h1>School Map Utility</h1>
			<h5>Find which classrooms are being used and when with the
				School Map Utility.</h5>
		</div>
	</div>
	<div class="main container" style="text-align: center;">
		<h1 style = "color:#333333">Visual Maps of Room Availability</h1>
		<p style="color: gray;">Find all maps below.</p>
		<div id="mapsContainer" style="margin-top: 50px;">
			<div class="container">
				<div class="row" style="text-align: center;">
					<div class="col-md-4 myColumn">
						<a href="/floorplan"> <img alt="Image Missing" style = "margin-bottom: 15px;"
							src="images/floors/floorplan.jpg" />
							<h5>Floorplan</h5>
						</a>
					</div>
					<div class="col-md-4 myColumn">
						<a href="/floorplan"> <img alt="Image Missing" style = "margin-bottom: 15px;"
							src="images/floors/floorplan.jpg" />
							<h5>Floorplan</h5>
						</a>
					</div>
					<div class="col-md-4 myColumn">
						<a href="/floorplan"> <img alt="Image Missing" style = "margin-bottom: 15px;"
							src="images/floors/floorplan.jpg" />
							<h5>Floorplan</h5>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
</body>
</html>
